.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
    border: 2px solid #808080;
    border-radius: 10px;
    background-color: yellow;
    min-height: 50px;
    padding: 20px;
    word-wrap: break-word
}


x{
    display: inline;
    text-align: right;
    position: absolute;
    right: 20px;
    margin-left: 30px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: rgb(245, 9, 9);
}

x:hover{
    cursor: default;
    background-color: rgb(245, 9, 9);
    color: white;
}

input{
    background-color: yellow;
    border: 2px solid gray;
    margin: 10px;
}

input:hover{
    background-color: rgb(255, 230, 0);
}

.item{
    border-bottom: 1px dashed gray;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
